body {
  background-color: #6568ff;
  color: #7fffd4;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", "Geneva", "Verdana", "sans-serif";
}

button {
  margin: 25px;
  cursor: pointer;
  background-color: aquamarine;
  border: none;
  border-radius: 5px;
  width: 10em;
  font-size: large;
  color: #2d2d2d;
  font-weight: bold;
  padding: 0.5em 0;
}

a {
  color: #7fffd4;
}

th {
  text-align: center;
  border: 1px solid #7fffd4;
  background-color: aquamarine;
  color: #6568ff;
  font-weight: 900;
  padding: 1em;
}

td {
  text-align: center;
  border: 1px solid aquamarine;
  padding: 1em;
}

.table {
  border: 3px solid aquamarine;
  padding: 5px;
}
img {
  display: block;
  margin: auto;
  width: 8em;
}
